@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@media (min-width: 768px) {
    .card{
       
        margin: 5rem auto 0;
        padding: 2rem;
        border-radius: 1rem;
    }

    img{
        border-radius: 1rem;
    }

    .card h1{
        font-size: 44px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(330, 100%, 98%);
    height: 100vh;
}

.card{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 40px;
    border-radius: 16px;
}

img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

h1, h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 1.2;
}
h2, strong{
    color: hsl(14, 45%, 36%);
}

h1{
    margin: 10px 0;
    font-size: 1.5rem;
    color:  hsl(24, 5%, 18%);
}

.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 1.2rem;
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px 0;
}
.preparation-heading{
    color: hsl(332, 51%, 32%);
    font-size: 1.2rem;
    font-weight: 600;
}
.preparation li::marker{
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

.ingredients{
    margin-top: 1rem;
}
.ingredients h2{
    margin-bottom: 1rem;
}

ul,ol{
    /* padding: 0.1rem; */
    padding-left: 22px;
}

span{
    font-weight: 700;
    color: hsl(24, 5%, 18%);
}

p, li{
    line-height: 1.6;
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}

li{
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.instructions{
    border-top: 1px solid hsl(30, 18%, 87%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin: 20px 0;
    padding: 20px 0;
}
.instructions h2{
    margin-bottom: 1rem;
}

.instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.nutrition p{
    margin: 0.8rem 0;
}

td{
    width: 100%;
    padding: 0.7rem 3rem;
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

table{
    display: flex;
    align-items: center;
 } 

strong{
    padding-left: 150px;    
   
}